.mail{
    list-style: none;
    background-color: antiquewhite;
    padding: 8px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mail1 {
    list-style: none;
    background-color: rgb(223, 216, 207);
    padding: 8px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blue{
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    margin-top: 5px;
}